<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <div>
        <form action="/url" method="POST">
            <label for="url">Enter original URL:</label>
            <input type="text" name="url" id="url" placeholder="Enter URL">
            <button type="submit">Shorten</button>
        </form>
    </div>

    <% if(locals.id){ %>
        <p>Shortened URL: <a href="http://localhost:8000/url/<%= locals.id %>">http://localhost:8000/url/<%= locals.id
                    %></a></p>
        <!-- <h3>Short ID is : <%= locals.id %> -->
        </h3>
        <% } %>
</body>

</html>